# Environment
.env
.venv/
.python-version

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Lock files
uv.lock
pyproject.toml
